<div class="container">


<h1>
  {{title}}
</h1>
<nav>
  <a routerLink = "/invoiceForm">Invoice Form</a> |
  <a routerLink = "/invoices">Invoices</a> |
  <!--<a routerLink = "/posts">Posts</a> |
  <a routerLink = "/products">Products</a> |-->

</nav>
<router-outlet>  </router-outlet>
</div>