
<div>
  <h3>List of invoices</h3>
  <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group users">
    <li class="list-group-item"  *ngFor = "let invoice of invoices"
[class.active]="currentInvoice == invoice"
(click)="select(invoice)" >
    Product Name: {{invoice.name}} Amount: {{invoice.amount}}
    </li>
  </ul>
</div>


