 <span *ngIf = "!isEdit"> <b>body</b>: {{post.body}}<br> <b>title:</b> {{post.title}} </span>
 <span *ngIf = "isEdit">
  title: <input type= "str" [(ngModel)] = "post.title">
 body <input type="text" [(ngModel)] = "post.body"> </span>
   <button (click) = "toggleEdit()">{{editButtonText}}</button>
 <button (click) = "sendDelete()">Delete</button> 
 <span *ngIf = "isEdit"> 
  <button (click) = "showPost()">Cancel</button> 
</span>
