    <td>{{product.pid}}</td>
    <td>{{product.pname}}</td>
    <td>{{product.cost}}</td>
    <td>{{product.categoryId}}</td>

    <td><button class="pull-right btn btn-danger btn-xs" (click) = "sendDelete()">Delete</button></td>
