<span *ngIf = "!isEdit"> Name: {{user.name}}, Email: {{user.email}} </span>
<span *ngIf = "isEdit"> 
    Name: <input type="text" [(ngModel)] = "user.name">
    Email: <input type="text" [(ngModel)] = "user.email">
</span>
<button class="pull-right btn btn-danger btn-xs" (click) = "sendDelete()">Delete</button>
<button class="pull-right btn btn-primary btn-xs" (click) = "toggleEdit()">{{editButtonText}}</button>

 